body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

nav {
    background-color: #395774;
    color: #fff;
    padding: 50px;
    text-align: center;
    font-size: larger;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #383838;
}

h2 {
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.221);
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.cart-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 300px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
    /* Darker color on hover */
}